<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="platzerworld.kegeln"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS" id="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.READ_SMS" id="android.permission.READ_SMS"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
	
	
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/PlatzerworldTheme" android:debuggable="true">
        <activity android:label="@string/app_name" android:name=".gui.Startseite" android:theme="@style/PlatzerworldTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:theme="@style/PlatzerworldTheme" android:name=".gui.LigaVerwalten"></activity>
        <activity android:name=".gui.ErgebnisseAnzeigen" android:theme="@style/PlatzerworldTheme"></activity>
        <activity android:name=".gui.SchnittlisteAnzeigen" android:theme="@style/PlatzerworldTheme"></activity>
        <activity android:name=".gui.TabellenAnzeigen" android:theme="@style/PlatzerworldTheme"></activity>
        <activity android:name=".gui.SpielerAnlegen" android:theme="@style/PlatzerworldTheme"></activity>
        <activity android:theme="@style/PlatzerworldTheme" android:name=".gui.KlasseAnlegen"></activity>
        <activity android:theme="@style/PlatzerworldTheme" android:name=".gui.MannschaftAnlegen"></activity>
        <activity android:theme="@style/PlatzerworldTheme" android:name=".gui.VereinAnlegen"></activity>
        <activity android:theme="@style/PlatzerworldTheme" android:name=".gui.ErgebnisAnlegen"></activity>
        <activity android:name=".gui.einstellung.EinstellungenBearbeiten" android:theme="@style/PlatzerworldTheme"></activity>
        <activity android:name=".gui.einstellung.Preferences" android:theme="@style/PlatzerworldTheme"></activity>
        <activity android:name=".gui.utilities.UtilitiesActivity"></activity>
        <activity android:name="common.map.ShowMap"></activity>   
        <activity android:name=".common.map.ShowMap"></activity>
        <activity android:name=".common.sensor.KegelverwaltungSensor"></activity>
        <activity android:name=".common.gesture.KegelverwaltungGesture"></activity>
        <activity android:name=".common.sensor.BeschleunigungActivity" android:label="accelerometer"></activity>
        <activity android:name=".common.sensor.SeifenblasenActivity"></activity>
        <activity android:name=".common.sensor.SensorActivity" android:label="sensor_list"></activity>
        <activity android:name=".common.sensor.RollenderBallActivity"></activity>
        <activity android:name=".common.appengine.RemoteActivity"></activity>
        <activity android:name=".common.appengine.AuthenticationActivity"></activity>
        <activity android:name=".common.appengine.AppEngineActivity"></activity>
        <activity android:name=".common.file.FileSystemActivity"></activity>
        
        <uses-library android:required="true" android:name="com.google.android.maps"></uses-library>
        
        
    </application>
</manifest>
